.main {
    margin-bottom: auto;
}

.message {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.exchange, .all-currencies {
    display: flex;
    justify-content: center;
}

.all-currencies {
    border: 2px solid white;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    padding-block: 0.5em;
}

