.wrapper {
    display: flex;
    gap: 3rem;
    padding-block: 3rem;
    align-items: center;
    padding-inline: 1rem;
}
@media (max-width: 760px) {
    .wrapper {
        flex-direction: column;
    }
}
.switch {
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    padding-block: 0.5em;
}

.convert {
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(165, 230, 157);
    color: white;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    padding-block: 0.7em;
    transition: background-color 0.3s ease-in-out; /* Add a transition for background-color */
}
