body {
    margin: 0
}
.text {
    color: rgb(36, 77, 135);

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 150, 150);
    margin: 0;
}